
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 70px 0;
}

p, li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */

header, .navbar {
  background-color: #353d41;
  padding: 0 3.2rem;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
}

.navbar-brand {
  padding: 0;
  color: #FFF;
}

.navbar-brand:hover {
  color: #FFF;
}

#navbar-links a{
  color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #FFF;
}

.main-btn {
  background-color: #65bef9;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
  text-decoration: none;
}


.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border: 3px solid #65bef9;
}

.carousel-indicators .active {
  background-color: #65bef9;
}

/* Sobre a agência */

#about-area {
  background-color: #f9f9f9;
}

.main-title{
  color: #444;
  margin: 0 0 65px 0;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}


#about-list li  {
  list-style: none;
}

#about-list li i {
  color: #65bef9;
  list-style: none;
  display: flex;
  flex-direction: row;
}

#about-list li i p{
  list-style: none;
  padding-left: 0;
  color: #444;
  margin-left: 15px;
}


/* Serviços */

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i, .service-box h4 {
  transition: .5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
  color: #65bef9;
}

/*  Dados */ 

.circle-box div {
  padding: 0 40px;
}

.progressbar-text  {
  font-weight: bold;
  font-size: 32px;
}

#data-area p {
  color: #FFF;
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

/*  Equipe */

.card-body {
  text-align: center;
}